<div class="home">
  <h1>Welcome</h1>
  <p>
    Already have an Account?
    <a href="/login"><button class="button">Sign In</button> </a>
  </p>
  <p>
    Register New Account
    <a href="/signup"><button class="button">Sign Up</button></a>
  </p>
</div>
