<h1>Signin</h1>
<form action="/login" method="post">
  <input
    type="email"
    name="email"
    id="email"
    placeholder="enter your email"
    required
  />
  <input
    type="text"
    name="password"
    id="password"
    placeholder="enter password"
    required
  />
  <button type="submit">Sign in</button>
</form>
