<h1>Signin</h1>
<form action="/login" method="post">
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="abc@xyz.com"
    required
  />
  <label for="password">Password</label>
  <input
    type="text"
    name="password"
    id="password"
    placeholder="enter password"
    required
  />
  <button type="submit">Sign in</button>
</form>
