<h1>Signup</h1>

<form action="/signup" method="post" id="form">
  <div class="input">
    <label for="name" class="label">Name</label>
    <input type="text" name="name" placeholder="abc" />
  </div>
  <div class="input">
    <label for="email" class="label">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="abc@xyz.com"
      required
    />
  </div>
  <div class="input">
    <label for="password" class="label">Password</label>
    <input
      type="text"
      name="password"
      id="password"
      placeholder="enter password"
      required
    />
  </div>

  <div class="input">
    <label for="confirmPassword" class="label">Confirm Password</label>
    <input
      type="text"
      name="confirmPassword"
      id="confirm-password"
      placeholder="confirm password"
      required
    />
  </div>
  <button
    class="g-recaptcha button"
    data-sitekey="6LfJzeohAAAAAA1cdgz8D4WC1BNMdng1LVoLm52e"
    data-callback="onSubmit"
  >
    SIGN UP
  </button>
</form>
<p>
  <a href="/auth/google"
    ><img
      class="google-img"
      src="https://cdn-icons-png.flaticon.com/512/4019/4019753.png"
    />
    Google
  </a>
</p>
<p>
  Already have an account
  <a href="/login"><button class="button">Sign In</button></a>
</p>
