<h1>signup</h1>

<form action="/signup" method="post" id="form">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="abc" />
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="abc@xyz.com"
    required
  />
  <label for="password">Password</label>
  <input
    type="text"
    name="password"
    id="password"
    placeholder="enter password"
    required
  />
  <label for="confirmPassword">Confirm Password</label>
  <input
    type="text"
    name="confirmPassword"
    id="confirm-password"
    placeholder="confirm password"
    required
  />
  <button
    class="g-recaptcha"
    data-sitekey="6LfJzeohAAAAAA1cdgz8D4WC1BNMdng1LVoLm52e"
    data-callback="onSubmit"
  >
    SIGN UP
  </button>
</form>
<p><a href="/auth/google">Google Sign in/Signup</a></p>
<p>Already have an account <a href="/login">Sign In</a></p>
