<script>
  function onSubmit(token) {
    document.getElementById("form").submit();
  }
</script>
<h1>Signin</h1>
<form action="/login" method="post" id="form">
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="abc@xyz.com"
    required
  />
  <label for="password">Password</label>
  <input
    type="text"
    name="password"
    id="password"
    placeholder="enter password"
    required
  />
  <button
    class="g-recaptcha"
    data-sitekey="6LfJzeohAAAAAA1cdgz8D4WC1BNMdng1LVoLm52e"
    data-callback="onSubmit"
  >
    SIGN In
  </button>
</form>
